.header-label {
  -fx-background-color: #6f4cbb;
  -fx-text-fill: #ffffff;
  -fx-font-size: 24px;
  -fx-alignment: center;
  -fx-font-weight: bold;
}

.add-button {
  -fx-background-color: #6f4cbb;
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold;
  -fx-cursor: hand;
}

.error-label{

}

.sucess-label{
    
}