.labelMessage{
    -fx-text-fill: #000000;
    -fx-font-size:12px;
    -fx-font-weight:bold;
}

.labelTime{
    -fx-text-fill: #000000;
    -fx-font-size:11px;
    -fx-font-style : italic;
}

.right-message{
    -fx-background-color: #632f9e;
    -fx-text-fill: #000000;
    -fx-padding: 10 20;
    -fx-background-radius:  15 0 15 15 ;
    -fx-wrap-text:true;
    -fx-text-fill: #dadada;



}
.left-message{
    -fx-background-color: #dadada;
    -fx-text-fill: #000000;
    -fx-padding: 10 20;
    -fx-background-radius:  0 15 15 15;
    -fx-wrap-text:true;
    -fx-text-fill: #636363;



}

.vbox{
    -fx-padding: 5 5 5 55;

}
.vbox{
    -fx-background-color:#f4f4f4;

}
.text-field{
    -fx-background-radius:50;
}

.downloadbtn {
    
    -fx-background-color : transparent; 
}
.downloadbtn:pressed{
    
    -fx-scale-x : 0.6;
    -fx-scale-y : 0.6;
}