.root{
    -fx-background-color:rgb(241, 241, 241);
}

#leftPane {
    -fx-background-color : linear-gradient(to bottom left , #431FA0 , #6F4CBB)
}

#btnRegister {
    -fx-background-color : linear-gradient(to bottom left , #431FA0 , #6F4CBB);
    -fx-background-radius : 6;
}


#btnLogin {
    -fx-background-color : #D5CBEB;
    -fx-background-radius : 6;
    -fx-text-fill : #371897;
    -fx-border-color : #6F4CBB;
    -fx-border-radius : 5 ;    
}

#btnLogin:hover{
    -fx-background-color : #4a3098;
    -fx-text-fill : white;
}

#txtEmail , #txtDisplayName , #txtPassword , #txtConfirmPassword ,#txtBio , #txtPhone {
    -fx-background-radius : 5;
    -fx-border-color : #6F4CBB;
    -fx-border-radius : 5;
    

}

#btnRegister:hover{
    -fx-background-color :  #431FA0
}

#btnRegister:pressed{
    -fx-background-color :  #6F4CBB
}

#btnLogin:pressed{
    -fx-background-color :  #6F4CBB
}