.root{
    -fx-background-color:rgb(241, 241, 241);
}

#leftPane {
    -fx-background-color : linear-gradient(to bottom left , #431FA0 , #6F4CBB)
}

#btnRegister {
    -fx-background-color : linear-gradient(to bottom left , #431FA0 , #6F4CBB);
    -fx-background-radius : 6;
}

.hh{

    -fx-background-color : #a587e3;
    -fx-padding : 10;
    -fx-background-radius : 10;
}

.hh:hover{
	
	-fx-pref-height : 35;
	-fx-pref-width : 160;
	
}

#usrname{
    -fx-background-color : white;
    -fx-background-radius : 10;
    -fx-padding : 10 ;
}

#btnUpdate {
    -fx-background-color : #D5CBEB;
    -fx-background-radius : 6;
    -fx-text-fill : #371897;
    -fx-border-color : #6F4CBB;
    -fx-border-radius : 5 ;    
}

#hboxArrow {
	-fx-padding : 5;
}

#hboxArrow :hover {
	-fx-background-color : #a587e3;
}


#btnBack{
	-fx-background-color :  transparent;
}

#btnUpdate:hover{
    -fx-background-color : #4a3098;
    -fx-text-fill : white;
}

#txtEmail , #txtDisplayName , #txtPassword , #txtConfirmPassword ,#txtBio , #txtPhone {
    -fx-background-radius : 5;
    -fx-border-color : #6F4CBB;
    -fx-border-radius : 5;
    

}

#btnRegister:hover{
    -fx-background-color :  #431FA0
}

#btnRegister:pressed{
    -fx-background-color :  #6F4CBB
}

#btnUpdate:pressed{
    -fx-background-color :  #6F4CBB
}