.root{
    -fx-background-color:white;
}

#leftPane {
    -fx-background-color : linear-gradient(to bottom left , #431FA0 , #6F4CBB)
}

#btnRegister {
    -fx-background-color : linear-gradient(to bottom left , #431FA0 , #6F4CBB);
    -fx-background-radius : 6;
}


#btnLogin {
    -fx-background-color : #D5CBEB;
    -fx-background-radius : 6;
    -fx-text-fill : #371897;
    -fx-border-color : #6F4CBB;
    -fx-border-radius : 5 ;    
}

#btnLogin:hover{
    -fx-background-color : #4a3098;
    -fx-text-fill : white;
}

.fields {
    -fx-background-radius : 5;
    -fx-border-color : #6F4CBB;
    -fx-border-radius : 5;
    

}
.combox-box{
    
    -fx-cell-size: 1.66667em;
    -fx-background-color: white;
    -fx-border-color : #6F4CBB;
    -fx-background-radius :10;
    
}

#btnRegister:hover{
    -fx-background-color :  #431FA0
}

#btnRegister:pressed{
    -fx-background-color :  #6F4CBB
}

#btnLogin:pressed{
    -fx-background-color :  #6F4CBB
}